body { font-family: 'Couier New', Courier, monospace; }


input[type = text], input[type = password] {
  width: 75%;
  display: inline-block;
  margin: 2%;
}

h1{
  text-align: center;
}

t2{
  text-align: center;
  display: block;
}

t3{
  text-align: center;
  display: block;
  margin: 10%;
}

button {
  cursor: pointer;
  margin: 5% 7%;
  width: 10%
}

.thanks{
  margin: 5% 5%;
  border: solid;
}